body {
  background-color: #EEEEEE;
  margin: 0; }

.skills {
  display: flex;
  margin: 20px;
  justify-content: center;
  flex-wrap: wrap; }
  .skills .skills-item {
    margin: 20px;
    padding: 20px;
    width: 180px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888; }
    .skills .skills-item .skill-image {
      height: 150px;
      background-color: #86ADD3;
      margin: 10px 0; }
    .skills .skills-item .skill-title {
      text-transform: capitalize; }

.login {
  margin: 15px;
  background-color: #fff;
  float: right;
  margin: 50px 15%;
  padding: 25px 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
  width: 200px;
  text-align: center; }
  .login label {
    font-size: 20px; }

.ilearn--input {
  height: 35px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  margin: 10px;
  width: 150px; }

.ilearn--button {
  padding: 10px 25px;
  color: #fff;
  background-color: #566DCA;
  border: 0;
  font-size: 12px; }
  .ilearn--button:hover {
    cursor: pointer;
    background-color: #45429A; }

.navigation {
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0px 2px 2px #888888;
  font-size: 18px; }

.navigation--message {
  float: left;
  padding: 12px 35px; }
  .navigation--message a {
    color: #566DCA;
    text-decoration: none; }
    .navigation--message a:hover {
      color: #45429A; }

.navigation--login {
  float: right;
  padding: 12px 35px; }
  .navigation--login a {
    color: #566DCA;
    text-decoration: none; }
    .navigation--login a:hover {
      color: #45429A; }
