/* line 1, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_homepage.scss */
body {
  background-color: #EEEEEE;
  margin: 0;
}

/* line 6, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_homepage.scss */
.skills {
  display: flex;
  margin: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 12, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_homepage.scss */
.skills .skills-item {
  margin: 20px;
  padding: 20px;
  width: 180px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
}
/* line 20, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_homepage.scss */
.skills .skills-item .skill-image {
  height: 150px;
  background-color: #86ADD3;
  margin: 10px 0;
}
/* line 26, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_homepage.scss */
.skills .skills-item .skill-title {
  text-transform: capitalize;
}

/* line 1, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_login.scss */
.login {
  margin: 15px;
  background-color: #fff;
  float: right;
  margin: 50px 15%;
  padding: 25px 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
  width: 200px;
  text-align: center;
}
/* line 13, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_login.scss */
.login label {
  font-size: 20px;
}

/* line 18, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_login.scss */
.ilearn--input {
  height: 35px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  margin: 10px;
  width: 150px;
}

/* line 27, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_login.scss */
.ilearn--button {
  padding: 10px 25px;
  color: #fff;
  background-color: #566DCA;
  border: 0;
  font-size: 12px;
}
/* line 34, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/partials/_login.scss */
.ilearn--button:hover {
  cursor: pointer;
  background-color: #45429A;
}

/* line 18, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/application.scss */
.navigation {
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0px 2px 2px #888888;
  font-size: 18px;
}

/* line 25, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/application.scss */
.navigation--message {
  float: left;
  padding: 12px 35px;
}
/* line 8, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/application.scss */
.navigation--message a {
  color: #566DCA;
  text-decoration: none;
}
/* line 12, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/application.scss */
.navigation--message a:hover {
  color: #45429A;
}

/* line 29, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/application.scss */
.navigation--login {
  float: right;
  padding: 12px 35px;
}
/* line 8, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/application.scss */
.navigation--login a {
  color: #566DCA;
  text-decoration: none;
}
/* line 12, /Users/twer/Documents/workshop/ilearnc/app/assets/stylesheets/application.scss */
.navigation--login a:hover {
  color: #45429A;
}
