.ilearn__login {
  margin: 15px;
  background-color: #fff;
  float: left;
  margin: 10% 15%;
  padding: 25px 15px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888888;
  width: 270px;
  text-align: center;

  label {
    font-size: 20px;
  }
}

.ilearn__register {
  font-size: 12px;
  padding-top: 10px;
  float: right;

  a {
    color: #566DCA;
  }
}

.image {
  background-image: url('images/login.jpg');
  background-size: cover;
  height: 750px;
}
