@import 'partials/homepage';
@import 'partials/login';
@import 'partials/register';

@mixin navigation($navigationAlign) {
  float: #{$navigationAlign};
  padding: 12px 35px;

  a {
    color: #566DCA;
    text-decoration: none;

    &:hover {
      color: #45429A;
    }
  }
}

.navigation {
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0px 2px 2px #888888;
  font-size: 18px;
}

.navigation--message {
  @include navigation(left);
}

.navigation--login {
  @include navigation(right);
  padding: 0;
}

.navigation--session {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 12px 30px;
  }

  &__username {
    padding: 15px 30px !important;
  }
}
