body {
  background-color: #EEEEEE;
  margin: 0; }

.skills {
  display: flex;
  margin: 20px;
  justify-content: center;
  flex-wrap: wrap; }
  .skills .skills-item {
    margin: 20px;
    padding: 20px;
    width: 180px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888; }
    .skills .skills-item .skill-image {
      height: 150px;
      background-color: #86ADD3;
      margin: 10px 0; }
    .skills .skills-item .skill-title {
      text-transform: capitalize; }

.navigation {
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0px 2px 2px #888888;
  font-size: 18px; }

.navigation--message {
  float: left;
  padding: 12px 35px; }
  .navigation--message a {
    color: #566DCA;
    text-decoration: none; }
    .navigation--message a:hover {
      color: #45429A; }

.navigation--login {
  float: right;
  padding: 12px 35px; }
  .navigation--login a {
    color: #566DCA;
    text-decoration: none; }
    .navigation--login a:hover {
      color: #45429A; }
